Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, mypy, run-tests

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Yaml files must be well-formatted
        language: system
        entry: yamllint --no-warnings
        types: [yaml]
      - id: black
        name: Python files must be formatted with black
        language: system
        entry: black --check
        types: [python]
      - id: mypy
        name: Python files must be type-checked with mypy
        language: system
        entry: hatch run types:check
        pass_filenames: false
        types: [python]
      - id: run-tests
        name: Run unit tests
        language: system
        entry: hatch test
        types: [python]
        pass_filenames: false

docs: add task dependencies documentation
  docs/reference/index.md
  docs/reference/task-dependencies.md
  mkdocs.yml
  pyproject.toml
Due: yamllint

fix: include unpositioned asset in geo correlation deps
  src/mkmapdiary/db.py
  src/mkmapdiary/tasks/gpxTask.py
Due: black, mypy, run-tests

docs: update task dependencies documentation
  .github/workflows/publish-docs.yml
  docs/reference/task-dependencies.md
  docs/reference/task-dependencies.puml
Due: yamllint

docs: update task dependency instructions
  docs/reference/task-dependencies.puml
Due: none

fix: update task dependencies
  docs/reference/task-dependencies.puml
Due: none

fix: apply image orientation during conversion
  src/mkmapdiary/tasks/imageTask.py
Due: black, mypy, run-tests

feat: add subcommands
  pyproject.toml
  src/mkmapdiary/__main__.py
  src/mkmapdiary/commands/__init__.py
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/config.py
  src/mkmapdiary/main.py
Due: black, mypy, run-tests

feat: Move logging to cli
  src/mkmapdiary/__main__.py
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/config.py
Due: black, mypy, run-tests

docs: document subcommands
  README.md
  docs/index.md
  docs/reference/commands.md
  docs/reference/configuration.md
  docs/reference/development/dev-commands.md
  docs/reference/index.md
Due: none

refactor: streamline logging setup and remove main.py
  src/mkmapdiary/__main__.py
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/main.py
  src/mkmapdiary/resources/logging.yaml
  src/mkmapdiary/util/log.py
Due: yamllint, black, mypy, run-tests

fix: correct command in tasks
  pyproject.toml
  tools/demo.py
Due: black, mypy, run-tests

feat: add generate-demo subcommand
  README.md
  docs/index.md
  docs/reference/commands.md
  src/mkmapdiary/__main__.py
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/generate_demo.py
  tools/demo.py
Due: black, mypy, run-tests

refactor: move generate_demo_data
  src/mkmapdiary/commands/generate_demo.py
  src/mkmapdiary/generate_demo.py
Due: black, mypy, run-tests

chore: add more tests
  src/mkmapdiary/geoCluster.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/qstarzTask.py
  tests/test_config_functions.py
  tests/test_docs_util.py
  tests/test_geo_cluster_math.py
  tests/test_util_algo.py
  tests/test_util_osm_locale.py
Due: black, mypy, run-tests

refactor: introduce Asset and AssetMeta
  pyproject.toml
  src/mkmapdiary/db.py
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/poi/common.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/textTask.py
Due: black, mypy, run-tests

refactor: migrate to hatch
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/generate_demo.py
  src/mkmapdiary/geoCluster.py
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/poi/ballTree.py
  src/mkmapdiary/poi/ballTreeBuilder.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/poi/regionFinder.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/__init__.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/base/geoLookup.py
  src/mkmapdiary/tasks/base/httpRequest.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/util/__init__.py
  tests/test_docs_util.py
  tests/test_env.py
  tests/test_geo_cluster_math.py
  tests/test_region_finder.py
  tests/test_util_osm_locale.py
  tools/update_translations.py
Due: yamllint, black, mypy, run-tests

refactor: improve readability and consistency
  pyproject.toml
  snippets/poi.py
  src/mkmapdiary/cache.py
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/generate_demo.py
  src/mkmapdiary/db.py
  src/mkmapdiary/geoCluster.py
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/poi/ballTreeBuilder.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/poi/indexFileWriter.py
  src/mkmapdiary/poi/regionFinder.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/qstarzTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
  src/mkmapdiary/tasks/textTask.py
  src/mkmapdiary/util/log.py
  src/mkmapdiary/util/osm.py
  src/mkmapdiary/util/projection.py
  tests/test_config.py
  tests/test_geo_cluster_math.py
  tests/test_region_finder.py
  tools/update_translations.py
Due: black, mypy, run-tests

fix: MRO issues
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/qstarzTask.py
Due: black, mypy, run-tests

fix: incorrect usage of shapely after creation of type hints
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/regionFinder.py
  tests/test_region_finder.py
Due: black, mypy, run-tests

fix: invalid types after adding type hints
  src/mkmapdiary/poi/ballTree.py
  src/mkmapdiary/poi/ballTreeBuilder.py
  src/mkmapdiary/poi/common.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexFileReader.py
Due: black, mypy, run-tests

refactor: replace Db with AssetRegistry
  src/mkmapdiary/db.py
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/gpxTask.py
Due: black, mypy, run-tests

refactor: replace Asset and AssetMeta with AssetRecord
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/textTask.py
Due: black, mypy, run-tests

refactor: use whenever types
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/lib/calibration.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/textTask.py
  tests/test_calibrate.py
Due: black, mypy, run-tests

fix: assets are not displayed correctly
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/tagsTask.py
Due: black, mypy, run-tests

chore: Update github flow
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: yamllint

feat: Calibration feature
  src/mkmapdiary/__main__.py
  src/mkmapdiary/commands/calibrate.py
  src/mkmapdiary/resources/calibrate_schema.yaml
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/tagsTask.py
Due: yamllint, black, mypy, run-tests

feat: Enhance calibration commands
  src/mkmapdiary/commands/calibrate.py
Due: black, mypy, run-tests

feat: improve reporting
  src/mkmapdiary/taskList.py
Due: black, mypy, run-tests

feat: Cache geo index file
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/tasks/base/httpRequest.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/qstarzTask.py
Due: black, mypy, run-tests

fix: Images are not displayed on the map
  src/mkmapdiary/lib/assetRegistry.py
Due: black, mypy, run-tests

refactor: Update asset access
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/tasks/gpxTask.py
Due: black, mypy, run-tests

refactor: Simplify asset handling
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
Due: black, mypy, run-tests

chore: Add testing instructions for code execution
  .github/copilot-instructions.md
Due: none

feat: Add llm-dataclass to project dependencies
  pyproject.toml
Due: none

fix: Update pyproject.toml
  pyproject.toml
Due: none

feat: Add data classes for metadata and evaluation
  src/mkmapdiary/lib/llm_classes.py
Due: black, mypy, run-tests

fix: Update task dependencies
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
Due: black, mypy, run-tests

feat: Add PostprocessingTask
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/__init__.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/postprocessingTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
Due: black, mypy, run-tests
