Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, mypy, run-tests

yamllint:
  name: Yaml files must be well-formatted
  language: system
  entry: yamllint --no-warnings

black:
  name: Python files must be formatted with black
  language: system
  entry: black --check

mypy:
  name: Python files must be type-checked with mypy
  language: system
  entry: hatch run types:check
  pass_filenames: false

run-tests:
  name: Run unit tests
  language: system
  entry: hatch test
  pass_filenames: false

docs: Add commit prefixes to mkdocs configuration
  docs/reference/development/commit-prefixes.md
  mkdocs.yml
Due: yamllint

chore: Add taskipy tasks
  pyproject.toml
  tools/demo.py
Due: black, mypy, run-tests

feat: Update documentation and improve POI indexing system
  README.md
  docs/reference/development/dev-commands.md
  docs/reference/index.md
  docs/reference/poi-index-format.md
  pyproject.toml
  src/mkmapdiary/poi/ballTree.py
  src/mkmapdiary/poi/ballTreeBuilder.py
  src/mkmapdiary/poi/common.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/poi/indexFileReader.py
  src/mkmapdiary/poi/indexFileWriter.py
  src/mkmapdiary/poiIndex.py
  src/mkmapdiary/poiIndexBuilder.py
  src/mkmapdiary/util/osm.py
  src/mkmapdiary/util/projection.py
Due: black, mypy, run-tests

docs: Add generated docs for supported file types
  docs/reference/supported_source_formats/canon_raw_v2.md
  docs/reference/supported_source_formats/common_audio.md
  docs/reference/supported_source_formats/common_image.md
  docs/reference/supported_source_formats/gps_exchange_format.md
  docs/reference/supported_source_formats/markdown.md
  docs/reference/supported_source_formats/plain_text.md
  docs/reference/supported_source_formats/qstarz_bl-1000.md
Due: none

feat: Attempt POI display
  pyproject.toml
  src/mkmapdiary/geoCluster.py
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/qstarzTask.py
Due: black, mypy, run-tests

fix: Fix lat/lon vs lon/lat isses
  src/mkmapdiary/db.py
  src/mkmapdiary/geoCluster.py
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/ballTree.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/tasks/base/geoLookup.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/util/projection.py
Due: black, mypy, run-tests

chore: Enhance test configuration
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint

refactor: Replace print statements with sys.stderr
  .pre-commit-config.yaml
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
Due: yamllint, black, mypy, run-tests

feat: Add logging capabilities
  src/mkmapdiary/main.py
  src/mkmapdiary/resources/logging.yaml
Due: yamllint, black, mypy, run-tests

fix: Improve task display name formatting in CustomReporter
  src/mkmapdiary/main.py
Due: black, mypy, run-tests

feat: Start converting print/echo to logger
  src/mkmapdiary/main.py
Due: black, mypy, run-tests

feat: Enhance logging
  src/mkmapdiary/main.py
  src/mkmapdiary/resources/logging.yaml
  src/mkmapdiary/util/os.py
Due: yamllint, black, mypy, run-tests

feat: Updated log display
  pyproject.toml
  src/mkmapdiary/main.py
  src/mkmapdiary/resources/logging.yaml
  src/mkmapdiary/util/log.py
Due: yamllint, black, mypy, run-tests

feat: Fully migrate to logger
  src/mkmapdiary/__main__.py
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/main.py
  src/mkmapdiary/poi/ballTreeBuilder.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/resources/logging.yaml
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/util/log.py
Due: yamllint, black, mypy, run-tests

feat: Enhance logs
  src/mkmapdiary/main.py
  src/mkmapdiary/resources/logging.yaml
  src/mkmapdiary/util/log.py
Due: yamllint, black, mypy, run-tests

feat: Improve gpx logging
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/tasks/gpxTask.py
Due: black, mypy, run-tests

feat: Add dirs object
  src/mkmapdiary/lib/dirs.py
  src/mkmapdiary/main.py
  src/mkmapdiary/taskList.py
Due: black, mypy, run-tests

feat: Use the dirs object for getting directories
  src/mkmapdiary/lib/dirs.py
  src/mkmapdiary/main.py
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/qstarzTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
  src/mkmapdiary/tasks/textTask.py
Due: black, mypy, run-tests

feat: Enhance logging with contextual messages
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/util/log.py
Due: black, mypy, run-tests

fix: Correct path for cache file
  src/mkmapdiary/main.py
  src/mkmapdiary/tasks/audioTask.py
Due: black, mypy, run-tests

fix: Remove newline characters from logging messages
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
Due: black, mypy, run-tests

fix: Repair region finding algorithm
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/regionFinder.py
  tests/test_region_finder.py
Due: black, mypy, run-tests

fix: Update cache dir
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/lib/dirs.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/tasks/gpxTask.py
Due: black, mypy, run-tests

fix: adjust index loading paths
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
Due: black, mypy, run-tests

docs: Update index file
  docs/index.md
Due: none

feat: enhance POI feature
  src/mkmapdiary/geoCluster.py
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/main.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/poi/regionFinder.py
  src/mkmapdiary/resources/poi_filter_config.yaml
  src/mkmapdiary/util/projection.py
Due: yamllint, black, mypy, run-tests

fix: correct type annotation
  src/mkmapdiary/gpxCreator.py
Due: black, mypy, run-tests

Revert "fix: correct type annotation"
  src/mkmapdiary/gpxCreator.py
Due: black, mypy, run-tests

feat: enhance configuration management and validation
  pyproject.toml
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/main.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
  src/mkmapdiary/tasks/textTask.py
  src/mkmapdiary/util/locale.py
  tests/test_config.py
  tools/demo.py
Due: yamllint, black, mypy, run-tests

fix: improve error logging for invalid configuration files
  src/mkmapdiary/main.py
Due: black, mypy, run-tests

feat: add configuration writing functionality
  pyproject.toml
  src/mkmapdiary/__main__.py
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/main.py
Due: black, mypy, run-tests

fix: improve PBF download handling by streaming content
  src/mkmapdiary/poi/indexBuilder.py
Due: black, mypy, run-tests

fix: update mkdocs config paths to be relative to build directory
  src/mkmapdiary/tasks/siteTask.py
Due: black, mypy, run-tests

feat: add user cache option for transcription feature
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/audioTask.py
Due: yamllint, black, mypy, run-tests

docs: Update docs regarding configuration
  docs/reference/configuration.md
  docs/reference/index.md
  docs/reference/supported_source_formats/canon_raw_v2.md
  docs/reference/supported_source_formats/common_audio.md
  docs/reference/supported_source_formats/common_image.md
  docs/reference/supported_source_formats/gps_exchange_format.md
  docs/reference/supported_source_formats/markdown.md
  docs/reference/supported_source_formats/plain_text.md
  docs/reference/supported_source_formats/qstarz_bl-1000.md
Due: none

fix: reduce memory leaks while transcribing audio
  src/mkmapdiary/tasks/audioTask.py
Due: black, mypy, run-tests

fix: brighten up CR2 images
  src/mkmapdiary/tasks/cr2Task.py
Due: black, mypy, run-tests

fix: skip tests in the pipeline
  .github/workflows/release.yml
Due: yamllint

fix: update GitHub release conditions to use github.ref_name
  .github/workflows/release.yml
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  black: any of: \.py$
  mypy: any of: \.py$
  run-tests: any of: \.py$
