Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ruff-check, ruff-format, mypy, run-tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Yaml files must be well-formatted
        language: system
        entry: yamllint --no-warnings
        types: [yaml]
      - id: ruff-check
        name: Python files must pass ruff checks
        language: system
        entry: hatch run ruff:ruff check
        types: [python]
      - id: ruff-format
        name: Python files must be formatted with ruff
        language: system
        entry: hatch run ruff:ruff format --check
        types: [python]
      - id: mypy
        name: Python files must be type-checked with mypy
        language: system
        entry: hatch run types:check
        pass_filenames: false
        types: [python]
      - id: run-tests
        name: Run unit tests
        language: system
        entry: bash -c "hatch test -- -m \"${PYTEST_MARK:-not slow}\""
        types: [python]
        pass_filenames: false
      - id: translation-files
        name: Translation files must be up to date
        language: system
        entry: python tools/update_translations.py --check
        types: [pofile]
        pass_filenames: false
      - id: gitlint
        name: Commit messages must follow the conventional commits standard
        language: system
        entry: gitlint --msg-filename
        stages: [commit-msg]

feat: credit CDN libraries parsed from site_config
  src/mkmapdiary/lib/credits.py
  tests/test_credits_frontend.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: correct how the stdlib-only constraint is verified
  .gitignore
  CLAUDE.md
  docs/superpowers/plans/2026-08-02-license-hygiene.md
Due: none

feat: resolve dependency credits without installing
  src/mkmapdiary/lib/credits.py
  tests/fixtures/pip_report.json
  tests/test_credits_resolve.py
Due: ruff-check, ruff-format, mypy, run-tests

chore: ignore sandbox-masked paths and local Claude config
  .gitignore
Due: none

fix: resolve local checkout by default in resolved_packages
  src/mkmapdiary/lib/credits.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add allow_prerelease switch to resolved_packages
  src/mkmapdiary/lib/credits.py
  tests/test_credits_resolve.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: mark the allow_prerelease stopgap for revisit
  src/mkmapdiary/lib/credits.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: mark the --pre stopgap for revisit on first stable release
  CLAUDE.md
Due: none

feat: add credits config and translation strings
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  tests/test_credits_config.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: add a credits page to generated journals
  src/mkmapdiary/resources/site_config.yaml
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/credits.j2
  tests/test_credits_template.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

refactor: extract credits_libraries() for unit testing
  src/mkmapdiary/tasks/siteTask.py
  tests/test_credits_libraries.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: add the missing English translation for zoom_to_fit
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
Due: none

build: pin hatch fmt's ruff version to match the project's ruff env
  pyproject.toml
Due: none

fix: replace deprecated locale.getdefaultlocale() with an env read
  src/mkmapdiary/util/locale.py
  tests/test_util_locale.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: require new generated output to use the doit structures
  CLAUDE.md
Due: none

feat: generate the docs credits page at build time
  .github/workflows/publish-docs.yml
  .gitignore
  docs/hooks/__init__.py
  docs/hooks/credits_table.py
  docs/reference/credits.md
  docs/reference/index.md
  mkdocs.yml
  pyproject.toml
  tests/test_docs_credits_hook.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

ci: install plantuml-markdown for the docs build
  .github/workflows/publish-docs.yml
Due: yamllint

docs: document the credits config, module constraints, and task graph
  CLAUDE.md
  docs/reference/configuration.md
  docs/reference/task-dependencies.md
  docs/reference/task-dependencies.puml
Due: none

docs: correct the credits page and babel mechanics description
  CLAUDE.md
  docs/reference/credits.md
  docs/superpowers/plans/2026-08-02-license-hygiene.md
  docs/superpowers/specs/2026-08-02-license-hygiene-design.md
Due: none

test: make three vacuous or absent guards live
  src/mkmapdiary/ui.py
  tests/test_credits.py
  tests/test_docs_credits_hook.py
  tests/test_ui_iso_date.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: render an explicit "not declared" for packages without a license
  docs/hooks/credits_table.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/credits.j2
  tests/test_credits_libraries.py
  tests/test_credits_template.py
  tests/test_docs_credits_hook.py
Due: ruff-check, ruff-format, mypy, run-tests

ci: pin docs deploy to Python 3.12 and close two tooling gaps
  .github/workflows/publish-docs.yml
  mkdocs.yml
  pyproject.toml
Due: yamllint

docs: render and complete the system dependencies page
  docs/reference/credits.md
  docs/reference/dependencies
  docs/reference/dependencies.md
  docs/reference/index.md
Due: none

fix: bound resolved_packages subprocess with a timeout
  src/mkmapdiary/lib/credits.py
  tests/test_credits_resolve.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: localize admin hierarchy on gallery and index pages
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/siteTask.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: use util.locale.get_language for locale splits
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: treat C.UTF-8 as carrying no language information
  src/mkmapdiary/util/locale.py
  tests/test_util_locale.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: detect the UI language via util.locale
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: label AI-generated content in journals
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/ai-generated.svg
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/textTask.py
  src/mkmapdiary/templates/ai_label.j2
  src/mkmapdiary/templates/credits.j2
  src/mkmapdiary/templates/day_tags.j2
  src/mkmapdiary/templates/md_text.j2
  tests/test_ai_label_template.py
  tests/test_credits_template.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

docs: record the AI labelling and example-run rules
  CLAUDE.md
Due: none

fix: stop ai() crashing on an empty model response
  src/mkmapdiary/tasks/base/baseTask.py
  tests/test_ai_wrapper.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: render the AI marker at a usable size and not as a lightbox
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/templates/ai_label.j2
  src/mkmapdiary/templates/day_tags.j2
  tests/test_ai_label_template.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: design creator credits for journal media
  docs/superpowers/specs/2026-08-02-creator-credits-design.md
Due: none

docs: plan the creator credits implementation
  docs/superpowers/plans/2026-08-02-creator-credits.md
Due: none

docs: trim the GPX task to its proportionate size
  docs/superpowers/plans/2026-08-02-creator-credits.md
Due: none

docs: drop the tautological tests from the propagation task
  docs/superpowers/plans/2026-08-02-creator-credits.md
Due: none

docs: fold two more layout defects into the layout task
  docs/superpowers/plans/2026-08-02-creator-credits.md
Due: none

feat: add a creator to the calibration stack
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/calibration.py
  src/mkmapdiary/resources/calibrate_schema.yaml
  src/mkmapdiary/taskList.py
  tests/test_creator_calibration.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: read the authorship tag from EXIF metadata
  src/mkmapdiary/tasks/base/exifReader.py
  tests/test_creator_exif.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: carry the creator from calibration onto every asset
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/rawInputTask.py
  src/mkmapdiary/tasks/textTask.py
Due: ruff-check, ruff-format, mypy, run-tests
