Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ruff-check, ruff-format, mypy, run-tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Yaml files must be well-formatted
        language: system
        entry: yamllint --no-warnings
        types: [yaml]
      - id: ruff-check
        name: Python files must pass ruff checks
        language: system
        entry: hatch run ruff:ruff check
        types: [python]
      - id: ruff-format
        name: Python files must be formatted with ruff
        language: system
        entry: hatch run ruff:ruff format --check
        types: [python]
      - id: mypy
        name: Python files must be type-checked with mypy
        language: system
        entry: hatch run types:check
        pass_filenames: false
        types: [python]
      - id: run-tests
        name: Run unit tests
        language: system
        entry: bash -c "hatch test -- -m \"${PYTEST_MARK:-not slow}\""
        types: [python]
        pass_filenames: false
      - id: translation-files
        name: Translation files must be up to date
        language: system
        entry: python tools/update_translations.py --check
        types: [pofile]
        pass_filenames: false
      - id: gitlint
        name: Commit messages must follow the conventional commits standard
        language: system
        entry: gitlint --msg-filename
        stages: [commit-msg]

feat: Enhance GPX data handling and statistics display on main page
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/index.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add total time calculation and localization for track statistics
  src/mkmapdiary/lib/statistics.py
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/index.j2
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add format_time_hours function
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/index.j2
  src/mkmapdiary/util/units.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Implement track simplification feature
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/gpxTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: UI timezone support
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/templates/day_journal.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Enhance elevation data smoothing
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/lib/statistics.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Update reset method to preserve __first_time
  src/mkmapdiary/lib/statistics.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Migrate poi detection to poiidx
  pyproject.toml
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/poi/ballTree.py
  src/mkmapdiary/poi/ballTreeBuilder.py
  src/mkmapdiary/poi/common.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/indexBuilder.py
  src/mkmapdiary/poi/indexFileReader.py
  src/mkmapdiary/poi/indexFileWriter.py
  src/mkmapdiary/poi/regionFinder.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  tests/test_region_finder.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

docs: Update POI detection configuration and add setup guide
  docs/how-to_guides/index.md
  docs/how-to_guides/setup-poi-detection.md
  docs/reference/configuration.md
Due: none

fix: Update poiidx dependency version to 0.0.4
  pyproject.toml
Due: none

fix: Update poiidx initialization
  pyproject.toml
  src/mkmapdiary/commands/build.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Enhance localization support
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/gpxTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add location administrative hierarchy to journal entries
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/templates/day_journal.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Implement location and time formatting
  src/mkmapdiary/lib/fmt.py
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/day_journal.j2
  src/mkmapdiary/templates/index.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Integrate POI detection feature toggle in tasks
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: adjust admin level handling in GpxCreator
  pyproject.toml
  src/mkmapdiary/lib/gpxCreator.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add Tkinter UI for mkmapdiary application
  pyproject.toml
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: enhance Tkinter UI with theme support and expert options toggle
  pyproject.toml
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add browser button
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: remove demo generation feature from Tkinter UI
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: make text fields read-only
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: update config loading in calibrate and inspect
  src/mkmapdiary/commands/calibrate.py
  src/mkmapdiary/commands/inspect.py
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add save file picker functionality to output entry
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add date and time picker to calibration UI
  pyproject.toml
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add timezone selection for camera and reference in UI
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add UI translations for German and English
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/ui.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: refactor AssetMetadata
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/postprocessors/imageSummarizer.py
  src/mkmapdiary/postprocessors/journalSummarizer.py
  src/mkmapdiary/tasks/base/baseTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: enable JournalSummarizer
  src/mkmapdiary/postprocessors/journalSummarizer.py
  src/mkmapdiary/tasks/postprocessingTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: simplify AI logic
  src/mkmapdiary/postprocessors/imageSummarizer.py
  src/mkmapdiary/postprocessors/journalSummarizer.py
  src/mkmapdiary/tasks/base/baseTask.py
  tests/test_ai_wrapper.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: add CLAUDE.md and correct copilot instructions
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

docs: add required notice to the docs landing page
  docs/index.md
Due: none

docs: set the docs site name
  mkdocs.yml
Due: yamllint

docs: add license hygiene design spec
  docs/superpowers/specs/2026-08-02-license-hygiene-design.md
  mkdocs.yml
Due: yamllint

docs: resolve the PyExifTool license question in the spec
  docs/superpowers/specs/2026-08-02-license-hygiene-design.md
Due: none

docs: add license hygiene implementation plan
  docs/superpowers/plans/2026-08-02-license-hygiene.md
Due: none

chore: ignore agent scratch directory
  .gitignore
Due: none

fix: replace GPLv3 tkcalendar with an ISO date entry
  pyproject.toml
  src/mkmapdiary/ui.py
  tests/test_ui_date_entry.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: add hatch-test environment with ui feature
  pyproject.toml
Due: none

docs: note that commits in this repo must be signed
  CLAUDE.md
Due: none

feat: add credits module with dependency graph traversal
  src/mkmapdiary/lib/credits.py
  tests/test_credits.py
Due: ruff-check, ruff-format, mypy, run-tests
