Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ruff-check, ruff-format, mypy, run-tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Yaml files must be well-formatted
        language: system
        entry: yamllint --no-warnings
        types: [yaml]
      - id: ruff-check
        name: Python files must pass ruff checks
        language: system
        entry: hatch run ruff:ruff check
        types: [python]
      - id: ruff-format
        name: Python files must be formatted with ruff
        language: system
        entry: hatch run ruff:ruff format --check
        types: [python]
      - id: mypy
        name: Python files must be type-checked with mypy
        language: system
        entry: hatch run types:check
        pass_filenames: false
        types: [python]
      - id: run-tests
        name: Run unit tests
        language: system
        entry: bash -c "hatch test -- -m \"${PYTEST_MARK:-not slow}\""
        types: [python]
        pass_filenames: false
      - id: translation-files
        name: Translation files must be up to date
        language: system
        entry: python tools/update_translations.py --check
        types: [pofile]
        pass_filenames: false
      - id: gitlint
        name: Commit messages must follow the conventional commits standard
        language: system
        entry: gitlint --msg-filename
        stages: [commit-msg]

feat: collect creators from GPX source files
  src/mkmapdiary/tasks/gpxTask.py
  tests/test_creator_registry.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: show the creator on assets when the journal has several
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/day_journal.j2
  src/mkmapdiary/templates/index.j2
  tests/test_creator_registry.py
  tests/test_creator_templates.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add a calibrate creator subcommand
  src/mkmapdiary/commands/calibrate.py
  tests/test_creator_command.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: credit the creators of the media on the credits page
  CLAUDE.md
  docs/reference/configuration.md
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/credits.j2
  tests/test_creator_registry.py
  tests/test_credits_template.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

docs: record the GPXTask-before-SiteTask/GalleryTask MRO constraint
  CLAUDE.md
  src/mkmapdiary/taskList.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: remove a stray closing div from the start page
  src/mkmapdiary/templates/index.j2
Due: none

docs: correct the creator credits spec against the code
  docs/superpowers/specs/2026-08-02-creator-credits-design.md
Due: none

docs: correct the credits-page section of the creator credits spec
  docs/superpowers/specs/2026-08-02-creator-credits-design.md
Due: none

docs: record that the highlights gap was fixed by the div balance
  docs/superpowers/plans/2026-08-02-creator-credits.md
Due: none

fix: stop wrapped asset captions clipping their second line
  src/mkmapdiary/resources/extra.sass
Due: none

fix: stop merged GPX tracks defeating the creator visibility rule
  docs/superpowers/specs/2026-08-02-creator-credits-design.md
  src/mkmapdiary/lib/assetRegistry.py
  tests/test_creator_registry.py
Due: ruff-check, ruff-format, mypy, run-tests

test: cover track_creators properly instead of asserting it exists
  tests/test_creator_registry.py
Due: ruff-check, ruff-format, mypy, run-tests

test: cover credits.creators alongside credits.travellers
  tests/test_credits_config.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: confine the lightbox image cap to the breakpoint it corrects
  src/mkmapdiary/resources/extra.sass
Due: none

fix: always regenerate GPX so track statistics survive a rebuild
  src/mkmapdiary/tasks/gpxTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: drop the dead root-level keys from the calibration schema
  src/mkmapdiary/commands/inspect.py
  src/mkmapdiary/resources/calibrate_schema.yaml
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

docs: document calibrate, inspect and the calibration.yaml format
  docs/reference/calibration.md
  docs/reference/commands.md
Due: none

refactor: share the config layering and the -x option between commands
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/params.py
  src/mkmapdiary/lib/config.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: add config --get to print the effective configuration
  src/mkmapdiary/commands/config.py
  tests/test_config_get.py
Due: ruff-check, ruff-format, mypy, run-tests

build: require poiidx 0.0.9
  pyproject.toml
Due: none

docs: replace the POI index format reference with poiidx
  docs/how-to_guides/setup-poi-detection.md
  docs/reference/index.md
  docs/reference/poi-index-format.md
Due: none

docs: bring the reference documentation in line with the code
  docs/explanation/development/challenges.md
  docs/index.md
  docs/reference/commands.md
  docs/reference/configuration.md
  docs/reference/dependencies.md
  docs/reference/development/dev-commands.md
  docs/reference/supported_source_formats/canon_raw_v2.md
  docs/reference/supported_source_formats/common_audio.md
  docs/reference/supported_source_formats/common_image.md
  docs/reference/supported_source_formats/gps_exchange_format.md
  docs/reference/supported_source_formats/markdown.md
  docs/reference/supported_source_formats/plain_text.md
  docs/reference/supported_source_formats/qstarz_bl-1000.md
  docs/reference/task-dependencies.md
Due: none

fix: keep the journal metadata line from splitting into paragraphs
  src/mkmapdiary/templates/day_journal.j2
  tests/test_creator_templates.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: explain the metadata icons and mark creators by instrument
  docs/reference/configuration.md
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/day_journal.j2
  src/mkmapdiary/templates/index.j2
  tests/test_creator_templates.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: let the config pin the leading start page highlights
  docs/reference/configuration.md
  src/mkmapdiary/lib/highlights.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/siteTask.py
  tests/test_highlights_pinned.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

fix: link journal credits to the docs directory URL
  src/mkmapdiary/tasks/siteTask.py
  tests/test_credits_template.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: look up the snippets extension by name, not position
  src/mkmapdiary/tasks/siteTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: fold the toc into the sidebar and add footer navigation
  src/mkmapdiary/resources/site_config.yaml
Due: yamllint

fix: stop reporting a failed build as done
  src/mkmapdiary/commands/build.py
Due: ruff-check, ruff-format, mypy, run-tests
