Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, sync-deps

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Yaml files must be well-formatted
        language: system
        entry: yamllint --no-warnings
        types: [yaml]
  - repo: local
    hooks:
      - id: black
        name: Python files must be formatted with black
        language: system
        entry: black --check
        types: [python]
  - repo: local
    hooks:
      - id: sync-deps
        name: Dependencies in requirements.txt and environment.yml must be in sync
        language: system
        entry: pyproject-pipenv
        files: ^(pyproject\.toml|Pipfile|Pipfile\.lock)$
        pass_filenames: false

Workflow fixup
  .github/workflows/release.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint, sync-deps

Skip mypy in workflow (takes a long time)
  .github/workflows/release.yml
Due: yamllint

Clean up config search paths
  src/mkmapdiary/__main__.py
Due: black

Keep config loading consistent
  src/mkmapdiary/__main__.py
Due: black

Update workflow
  .github/workflows/release.yml
Due: yamllint

Deployment workflow
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
Due: yamllint

Update workflow
  .github/workflows/publish-docs.yml
Due: yamllint

Speed up mypy check
  .github/workflows/release.yml
  pyproject.toml
Due: yamllint, sync-deps

Workflow update
  .github/workflows/release.yml
Due: yamllint

Try and run tests always now
  .github/workflows/release.yml
Due: yamllint

Remove noreply mail adress from authors list
  pyproject.toml
Due: sync-deps

Delete obsolete file
  calculate_tile_level.py
Due: black

New command line interface and sanity checks
  .gitignore
  pyproject.toml
  src/mkmapdiary/__main__.py
  src/mkmapdiary/util/__init__.py
Due: black, sync-deps

Update badges
  README.md
Due: none

Update readme and command help
  README.md
  src/mkmapdiary/__main__.py
Due: black

fix: Formatting
  src/mkmapdiary/__main__.py
Due: black

Update batches
  README.md
Due: none

Docs welcome page
  docs/index.md
Due: none

Update docs
  README.md
  docs/reference/dependencies
Due: none

fix: Adjust entrypoint for script
  pyproject.toml
Due: sync-deps

Update gitignore
  .gitignore
Due: none

Readme: Explain how to run dev version
  README.md
Due: none

Update docs
  .github/workflows/publish-docs.yml
  .gitignore
  docs/reference/dev-commands.md
  docs/reference/development/dev-commands.md
  docs/reference/supported_source_formats/canon_raw_v2.md
  docs/reference/supported_source_formats/common_audio.md
  docs/reference/supported_source_formats/common_image.md
  docs/reference/supported_source_formats/gps_exchange_format.md
  docs/reference/supported_source_formats/index.md
  docs/reference/supported_source_formats/markdown.md
  docs/reference/supported_source_formats/plain_text.md
  docs/reference/supported_source_formats/qstarz_bl-1000.md
  docs/util.py
  mkdocs.yml
  pyproject.toml
Due: yamllint, black, sync-deps

Add fail_fast option to pre-commit
  .pre-commit-config.yaml
Due: yamllint

Refactor translations and locale, started writing demo data generator
  .gitignore
  .pre-commit-config.yaml
  docs/reference/development/dev-commands.md
  src/mkmapdiary/__main__.py
  src/mkmapdiary/extras/defaults.yaml
  src/mkmapdiary/generate_demo.py
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/main.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/tasks/tagsTask.py
  util/update_translations.py
Due: yamllint, black

fix: Use AI for text title generation
  src/mkmapdiary/tasks/textTask.py
Due: black

Use translations for text_title
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/textTask.py
Due: black

Update readme; map fix; better demo data
  README.md
  src/mkmapdiary/__main__.py
  src/mkmapdiary/extras/extra.sass
  src/mkmapdiary/extras/geo.js
  src/mkmapdiary/generate_demo.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/templates/day_gallery.j2
Due: black

fix: Incorrect connections between audio player and transcript
  src/mkmapdiary/extras/audio.js
Due: none

snippet: POI extraction
  pyproject.toml
  snippets/filter_config.yaml
  snippets/poi.py
Due: yamllint, black, sync-deps

Update snippet
  snippets/poi.py
Due: black

Working on poi index
  pyproject.toml
  src/mkmapdiary/extras/poi_filter_config.yaml
  src/mkmapdiary/poiIndex.py
Due: yamllint, black, sync-deps

continue POI index development
  snippets/filters.txt
  src/mkmapdiary/extras/poi_filter_config.yaml
  src/mkmapdiary/poiIndex.py
  src/mkmapdiary/poiIndexBuilder.py
  src/mkmapdiary/util/__init__.py
  src/mkmapdiary/util/projection.py
  tests/test_rank.py
Due: yamllint, black

Added todo
  src/mkmapdiary/poiIndex.py
Due: black

util -> tools
  .pre-commit-config.yaml
  docs/reference/development/dev-commands.md
  tools/update_translations.py
Due: yamllint, black

Move extras -> resources
  src/mkmapdiary/main.py
  src/mkmapdiary/poiIndexBuilder.py
  src/mkmapdiary/resources/audio.js
  src/mkmapdiary/resources/cross-orange.svg
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/resources/geo.schema.yaml
  src/mkmapdiary/resources/logo-blue.svg
  src/mkmapdiary/resources/logo-white.svg
  src/mkmapdiary/resources/poi_filter_config.yaml
  src/mkmapdiary/resources/site_config.yaml
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/siteTask.py
Due: yamllint, black

Add type hints and improve structure
  src/mkmapdiary/cache.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/util/__init__.py
  src/mkmapdiary/util/algo.py
  src/mkmapdiary/util/cache.py
  src/mkmapdiary/util/os.py
  src/mkmapdiary/util/osm.py
Due: black

chore: Add gitlint
  .gitlint
  .pre-commit-config.yaml
Due: yamllint
