Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ruff-check, ruff-format, mypy, run-tests

yamllint:
  name: Yaml files must be well-formatted
  language: system
  entry: yamllint --no-warnings

ruff-check:
  name: Python files must pass ruff checks
  language: system
  entry: hatch run ruff:ruff check

ruff-format:
  name: Python files must be formatted with ruff
  language: system
  entry: hatch run ruff:ruff format --check

mypy:
  name: Python files must be type-checked with mypy
  language: system
  entry: hatch run types:check
  pass_filenames: false

run-tests:
  name: Run unit tests
  language: system
  entry: bash -c "hatch test -- -m \"${PYTEST_MARK:-not slow}\""
  pass_filenames: false

feat: Simplify auto value configuration
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/resources/defaults.yaml
  tests/test_config_functions.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Enhance configuration
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/postprocessors/imageQualityAssessment.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

fix: Clean up configuration handling
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/postprocessors/piqImageQualityAssessment.py
  src/mkmapdiary/postprocessors/simpleImageQualityAssessment.py
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/imageTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

fix: Improve logging for image quality assessment
  src/mkmapdiary/postprocessors/imageQualityAssessment.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Account for gps loggers with variable intervals
  src/mkmapdiary/gpxCreator.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Enhance image arrangement in gallery
  pyproject.toml
  src/mkmapdiary/lib/startPage.py
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/tasks/siteTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Improve handling of existing calibration data
  src/mkmapdiary/commands/calibrate.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add effects management to calibration process
  src/mkmapdiary/commands/calibrate.py
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/calibration.py
  src/mkmapdiary/resources/calibrate_schema.yaml
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/textTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

refactor: Implement filter method in postprocessors
  src/mkmapdiary/postprocessors/base/multiAssetPostprocessor.py
  src/mkmapdiary/postprocessors/base/singleAssetPostprocessor.py
  src/mkmapdiary/postprocessors/entropyCalculator.py
  src/mkmapdiary/postprocessors/imageHasher.py
  src/mkmapdiary/tasks/postprocessingTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Remove redundant logging of coordinate entries addition
  src/mkmapdiary/gpxCreator.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Implement auto-rotation of images
  pyproject.toml
  src/mkmapdiary/postprocessors/autoRotator.py
  src/mkmapdiary/resources/calibrate_schema.yaml
  src/mkmapdiary/tasks/postprocessingTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

fix: Enhance logging for distance matrix
  src/mkmapdiary/postprocessors/duplicateDetector.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Update asset handling and quality markers in gallery display
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/postprocessors/duplicateDetector.py
  src/mkmapdiary/postprocessors/imageHasher.py
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/templates/day_gallery.j2
Due: ruff-check, ruff-format, mypy, run-tests

fix: Update image hash type
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/postprocessors/imageHasher.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add quality control options for gallery items
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/templates/day_gallery.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Enable gesture handling for the map
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/resources/site_config.yaml
Due: yamllint

feat: Update template rendering to use strings for titles
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/journalTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/day_journal.j2
  src/mkmapdiary/templates/index.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Improve POI detection
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/poi_filter_config.yaml
  src/mkmapdiary/tasks/gpxTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add fullscreen control to the map
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/resources/site_config.yaml
Due: yamllint

feat: Filter out bad or duplicate assets in gallery generation
  src/mkmapdiary/tasks/galleryTask.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: move files to "lib"
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/lib/cache.py
  src/mkmapdiary/lib/geoCluster.py
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/tasks/gpxTask.py
  tests/test_geo_cluster_math.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Enhance icon handling and POI filtering
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/resources/poi_filter_config.yaml
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add statistics tracking for GPX
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/lib/statistics.py
  src/mkmapdiary/resources/site_config.yaml
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/templates/day_gallery.j2
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

refactor: Simplify Statistics class
  src/mkmapdiary/lib/statistics.py
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/templates/day_gallery.j2
Due: ruff-check, ruff-format, mypy, run-tests

feat: Implement fullscreen support for GLightbox interactions
  src/mkmapdiary/resources/geo.js
Due: none

fix: Change MutationObserver subtree option to false
  src/mkmapdiary/resources/geo.js
Due: none

refactor: Update load_regions method
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/poi/index.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add profiling support and configuration options for build process
  .gitignore
  pyproject.toml
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/postprocessors/autoRotator.py
  src/mkmapdiary/postprocessors/constImageQualityAssessment.py
  src/mkmapdiary/postprocessors/entropyCalculator.py
  src/mkmapdiary/postprocessors/imageHasher.py
  src/mkmapdiary/postprocessors/imageQualityAssessment.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/cr2Task.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add debug fast mode option
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/resources/debug_fast.yaml
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

chore: Clean up comments
  src/mkmapdiary/resources/defaults.yaml
Due: yamllint

feat: Introduce multi-format support
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/__init__.py
  src/mkmapdiary/tasks/base/multiFormat.py
  src/mkmapdiary/tasks/gpsbabelInputTask.py
  src/mkmapdiary/tasks/rawInputTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add new POI icons and update filters in configuration files
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/resources/poi_filter_config.yaml
Due: yamllint

fix: Deal with empty clusters
  src/mkmapdiary/lib/geoCluster.py
  src/mkmapdiary/lib/gpxCreator.py
Due: ruff-check, ruff-format, mypy, run-tests

chore: Update input format comments
  src/mkmapdiary/resources/defaults.yaml
Due: yamllint

feat: Enhance elevation handling
  src/mkmapdiary/lib/statistics.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add highlights to day pages
  src/mkmapdiary/lib/gpxCreator.py
  src/mkmapdiary/lib/highlights.py
  src/mkmapdiary/resources/debug_fast.yaml
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/templates/index.j2
  tests/test_start_page_matrix.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add new localization strings
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/templates/day_gallery.j2
Due: yamllint

feat: Add quality-related localization strings
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/templates/day_gallery.j2
Due: yamllint

feat: Add track-related localization strings
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/templates/day_gallery.j2
  src/mkmapdiary/util/units.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Add ignore_dates functionality to filter out specified dates
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/dayPageTask.py
  src/mkmapdiary/tasks/gpxTask.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  run-tests: any of: \.py$
