Repository bytehexe/mkmapdiary: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ruff-check, ruff-format, mypy, run-tests

.pre-commit-config.yaml:

fail_fast: true
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: local
    hooks:
      - id: yamllint
        name: Yaml files must be well-formatted
        language: system
        entry: yamllint --no-warnings
        types: [yaml]
      - id: ruff-check
        name: Python files must pass ruff checks
        language: system
        entry: hatch run ruff:ruff check
        types: [python]
      - id: ruff-format
        name: Python files must be formatted with ruff
        language: system
        entry: hatch run ruff:ruff format --check
        types: [python]
      - id: mypy
        name: Python files must be type-checked with mypy
        language: system
        entry: hatch run types:check
        pass_filenames: false
        types: [python]
      - id: run-tests
        name: Run unit tests
        language: system
        entry: bash -c "hatch test -- -m \"${PYTEST_MARK:-not slow}\""
        types: [python]
        pass_filenames: false
      - id: translation-files
        name: Translation files must be up to date
        language: system
        entry: python tools/update_translations.py --check
        types: [pofile]
        pass_filenames: false
      - id: gitlint
        name: Commit messages must follow the conventional commits standard
        language: system
        entry: gitlint --msg-filename
        stages: [commit-msg]

feat: Implement batch_reduce function
  pyproject.toml
  src/mkmapdiary/lib/llm.py
  tests/test_batch_reduce.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: fix estimate thresholds
  src/mkmapdiary/lib/llm.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: update version requirements
  pyproject.toml
Due: none

refactor: Remove unused code
  src/mkmapdiary/lib/asset.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add postprocessing stage
  pyproject.toml
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/llm_classes.py
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/de/LC_MESSAGES/messages.po
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.mo
  src/mkmapdiary/locale/en/LC_MESSAGES/messages.po
  src/mkmapdiary/postprocessors/base/basePostprocessor.py
  src/mkmapdiary/postprocessors/base/multiAssetPostprocessor.py
  src/mkmapdiary/postprocessors/base/singleAssetPostprocessor.py
  src/mkmapdiary/postprocessors/duplicateDetector.py
  src/mkmapdiary/postprocessors/imageHasher.py
  src/mkmapdiary/postprocessors/imageSummarizer.py
  src/mkmapdiary/postprocessors/journalSummarizer.py
  src/mkmapdiary/postprocessors/qualityAssessment.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/postprocessingTask.py
  src/mkmapdiary/util/log.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

fix: Update model references in LLM prompts
  src/mkmapdiary/resources/defaults.yaml
Due: yamllint

chore: Clean up commented model references in LLM prompts
  src/mkmapdiary/resources/defaults.yaml
Due: yamllint

feat: Enhance start page
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/assetRegistry.py
  src/mkmapdiary/lib/startPage.py
  src/mkmapdiary/postprocessors/imageEmbedder.py
  src/mkmapdiary/postprocessors/imageHasher.py
  src/mkmapdiary/postprocessors/imageSummarizer.py
  src/mkmapdiary/postprocessors/journalSummarizer.py
  src/mkmapdiary/postprocessors/qualityAssessment.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/tasks/postprocessingTask.py
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/index.j2
  tests/test_start_page_matrix.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

refactor: Caching for audio transcription
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/util/cache.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: concurrent asset processing
  src/mkmapdiary/taskList.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Cache orientation data
  src/mkmapdiary/tasks/imageTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Correct user config path
  src/mkmapdiary/commands/build.py
  src/mkmapdiary/commands/config.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Change log level for cache debug
  src/mkmapdiary/util/cache.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Streamline GPX generation
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/tasks/gpxTask.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Optimize POI index performance
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Enhance cluster processing
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/regionFinder.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Improve performance
  src/mkmapdiary/gpxCreator.py
  src/mkmapdiary/poi/index.py
  src/mkmapdiary/poi/regionFinder.py
  tests/test_region_finder.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: Add documentation on development challenges
  docs/explanation/development/challenges.md
Due: none

fix: Add missing dependencies
  pyproject.toml
Due: none

fix: Repair calibration
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/audioTask.py
  src/mkmapdiary/tasks/base/baseTask.py
  src/mkmapdiary/tasks/base/exifReader.py
  src/mkmapdiary/tasks/cr2Task.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/gpxTask.py
  src/mkmapdiary/tasks/imageTask.py
  src/mkmapdiary/tasks/markdownTask.py
  src/mkmapdiary/tasks/qstarzTask.py
  src/mkmapdiary/tasks/textTask.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Remove GeojsonTask
  src/mkmapdiary/taskList.py
  src/mkmapdiary/tasks/__init__.py
  src/mkmapdiary/tasks/geojsonTask.py
  src/mkmapdiary/tasks/gpxTask.py
Due: ruff-check, ruff-format, mypy, run-tests

docs: Update task dependencies documentation
  docs/reference/task-dependencies.md
  docs/reference/task-dependencies.puml
Due: none

fix: Ensure photo markers are always on top
  src/mkmapdiary/resources/geo.js
Due: none

docs: Address limitations of local LLMs and vision models in processing
  docs/explanation/development/challenges.md
Due: none

fix: Fix startpage issues
  src/mkmapdiary/lib/startPage.py
  src/mkmapdiary/postprocessors/duplicateDetector.py
Due: ruff-check, ruff-format, mypy, run-tests

refactor: Added simple IQA
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/startPage.py
  src/mkmapdiary/postprocessors/duplicateDetector.py
  src/mkmapdiary/postprocessors/imageQualityAssessment.py
  src/mkmapdiary/postprocessors/qualityAssessment.py
  src/mkmapdiary/postprocessors/simpleImageQualityAssessment.py
  src/mkmapdiary/tasks/postprocessingTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add copyright and social links to site configuration
  src/mkmapdiary/resources/site_config.yaml
Due: yamllint

fix: Adjust styles and functionality
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/gallery.js
  src/mkmapdiary/resources/geo.js
  src/mkmapdiary/tasks/siteTask.py
  src/mkmapdiary/templates/index.j2
Due: ruff-check, ruff-format, mypy, run-tests

fix: Icon size adjustment
  src/mkmapdiary/resources/geo.js
Due: none

fix: Adjust margin for photo gallery on startpage
  src/mkmapdiary/resources/extra.sass
Due: none

feat: Implement Image Quality Assessment
  pyproject.toml
  src/mkmapdiary/lib/config.py
  src/mkmapdiary/lib/startPage.py
  src/mkmapdiary/postprocessors/imageQualityAssessment.py
  src/mkmapdiary/postprocessors/piqImageQualityAssessment.py
  src/mkmapdiary/resources/config_schema.yaml
  src/mkmapdiary/resources/defaults.yaml
  src/mkmapdiary/resources/extra.sass
  src/mkmapdiary/resources/gallery.js
  tests/test_config_functions.py
Due: yamllint, ruff-check, ruff-format, mypy, run-tests

feat: Sort photo markers
  src/mkmapdiary/tasks/galleryTask.py
  src/mkmapdiary/tasks/siteTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Lower threshold for image quality assessment
  src/mkmapdiary/postprocessors/piqImageQualityAssessment.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Entropy based image selection
  src/mkmapdiary/lib/asset.py
  src/mkmapdiary/lib/startPage.py
  src/mkmapdiary/postprocessors/entropyCalculator.py
  src/mkmapdiary/tasks/postprocessingTask.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add inspect command for calibrating camera timestamps
  src/mkmapdiary/__main__.py
  src/mkmapdiary/commands/inspect.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Enhance duplicate detection by grouping assets by display date
  src/mkmapdiary/postprocessors/duplicateDetector.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Improve EXIF date extraction
  src/mkmapdiary/tasks/base/exifReader.py
Due: ruff-check, ruff-format, mypy, run-tests

feat: Add garbage collection to post-processing
  src/mkmapdiary/tasks/postprocessingTask.py
Due: ruff-check, ruff-format, mypy, run-tests

fix: Process IQA in batches to save memory
  src/mkmapdiary/postprocessors/piqImageQualityAssessment.py
Due: ruff-check, ruff-format, mypy, run-tests
